html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.div_list {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 20px;
    justify-content: center;
}
.div_list_img {
    background-color: aqua;
    width: 150px;
    height: 250px;
    margin: 20px;
}
.div_list_span {
    position: absolute;
    bottom: 22px;
    transform: translateX(-35%);
    background-color: white;
    height: auto;
    width: 140px;
    font-size: 16px;
    background-color: aqua
}
.div_list_span_a{
    text-decoration:none;
    color:black;
}

.div_h{
    margin-top: 50px;
    text-align:center;
}
.div_account_profile {
    height: 700px;
    margin-top: 50px;
}
.div_account_profile_img {
    background-color: antiquewhite;
    width: 30%;
    height: 500px;
    float: left;
    text-align: center;
}
.div_account_profile_infor {
    display: flex;
    justify-content: space-around;
}
.div_account_profile_infor_element {
    margin-top: 40px;
}
