@page
@model SE1726_NET_SWP391_Group5.Pages.Seller.Product.AddModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div style="margin:0px auto; width:70%">
    <p>
        <h1 style="text-align:center">Add new Product</h1>
    </p>

    <form method="post">
        <table>
            <tr>
                <td>Product Name(*)</td>
                <td>
                    <input asp-for="product.ProductName" />
                    <span asp-validation-for="product.ProductName"></span>
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select asp-for="product.CategoryId" asp-items="ViewBag.CategoriesId"></select>
                </td>

            </tr>
            <tr>
                <td>UnitPrice</td>
                <td>
                    <input asp-for="product.UnitPrice" />
                    <span asp-validation-for="product.UnitPrice"></span>
                </td>
            </tr>
            <tr>
                <td>UnitsInStock</td>
                <td>
                    <input asp-for="product.UnitInStock" />
                    <span asp-validation-for="product.UnitInStock"></span>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <textarea id="descriptionEditor" asp-for="product.Description"> </textarea>
                    <span asp-validation-for="product.Description"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input value="Save" type="submit" />
                    <input value="Clear" type="reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="~/js/ckeditor/ckeditor.js"></script>
<script src="~/lib/ckeditor/adapters/jquery.js"></script>
<script>CKEDITOR.replace('descriptionEditor');</script>
