@page
@model SE1726_NET_SWP391_Group5.Pages.Account.ForgotPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<div style="width: 400px;height:500px;background-color:blanchedalmond;margin: 80px auto;">
    <h3 style="text-align: center;padding: 20px;font-weight:bold;">
        Forgot password
    </h3>
    <div style="margin: 20px 20px; color: red">@TempData["msg"]</div>
    <form method="post">
        <div style="margin: 20px 20px;">
            <label for="email">Please input your email:</label>
            <input asp-for="email" type="text" style="width: 100%" />
        </div>
        <div style="margin: 30px 20px;">
            <input type="submit" value="Send mail" style="width: 100%" class="btn btn-success" />
        </div>
    </form>
</div>
